.theme-first {
    --color-background: #F5F5F5;
    --color-primary: #F5F5F5;
    --color-secondary: #1E1E1E;
  }
  
  .theme-second {
    --color-background: #FFFFFF;
    --color-primary: #F5F5F5;
    --color-secondary: #1E1E1E;
  }
  
  .theme-third {
    --color-background: #1E1E1E;
    --color-primary: #1E1E1E;
    --color-secondary: #F5F5F5;
  }

  mux-player {
    --controls: none;
    --media-object-fit: cover;

    inset: 0;
    z-index: 0;
  }

  mux-player::part(gesture-layer) {
    display: none;
  }